.form-container form {
    border: 1px solid black;
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
    width: 300px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
}

.form-container button {
    padding: 6px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}